body {
    margin: 0 auto;
    padding: 0;
    background-color: white;
    
  }
  
  header {
    background-color: black;
    padding: 1rem;
  }
  
  header #logo {
    margin-left: 2rem;
    width: 4rem;
  }

  .container {
    display: flex;
    margin: 0 0 0 auto;
    width: calc(((100% - 1140px) / 2) + 1140px);
    
  }

  #intro {
    padding: 4rem;
    background-color: #DEE2E5;
  }

  .ball {
    margin: -2rem;
    margin-top: 1rem;
  }

  .title h1 {
    font-size: 4rem;
  }

.description {
    width: 50%;
    margin-top: -1rem;
}

.changeTheme {
  margin-top: 2rem;
}
